.carousel-inner {
  border-radius: 25px;
  /* height: 450px;  hehe nda jadi*/
  box-shadow: 0em 0em 1em hsla(190, 5%, 24%, 0.288);

  .carousel-item {
    .carousel-box-1 {
      background: linear-gradient(to right, #ff8828, #ff7d04);
      height: 450px;
    }

    .carousel-box-2 {
      background: linear-gradient(to right, #e6a6c1, #f3257b);
      height: 450px;
    }

    .carousel-box-3 {
      background: linear-gradient(to right, #20b5ff, #1064ff);
      height: 450px;
    }
  }

  h5 {
    font-size: 4.25rem;
    text-align: start;
  }

  p {
    font-size: 27px;
    text-align: end;
  }
}

.domain-search {
  margin: 0;
  padding: 10px 5px;
}

.search-box {
  margin-top: 10px;
}

.bg-pblue {
  background: linear-gradient(to right, #65b4db, #0245c0);
  border-radius: 15px;
}

.domain-search .form-title {
  margin-top: 0;
  margin-bottom: 2px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.domain-search .input-group {
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
}

.domain-search .input-group-addon {
  border: none;
}

.domain-search .form-title strong {
  display: block;
}

.domain-search .form-control {
  height: 60px;
}

.domain-search .form-control:focus {
  box-shadow: 0px 0px 0px 0px #ffffff !important;
}

.input-group .input-group-addon [type="submit"], .input-group .input-group-addon button {
  border: none;
  border-radius: 0;
}

.domain-search .btn {
  padding: 0 50px;
  line-height: 60px;
}

.btn-primary {
  background-color: #ff6726;
  color: #fff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.domain-search .input-group + p {
  color: #fff;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  margin-top: 15px;
  margin-bottom: 0;
}

.domain-search .input-group + p strong {
  margin-right: 40px;
}

.products-list {
  .product-card {
      transition: all 0.3s ease;
      overflow: hidden;
      cursor: pointer;
  }

  .product-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  .product-image {
      transition: all 0.5s ease;
      height: 300px;
      width: fit-content;
      object-fit: fill;
      object-position: center;
  }

  .product-card:hover .product-image {
      transform: scale(1.05);
  }

  .badge {
      position: absolute;
      top: 10px;
      right: 10px;
  }

  .price {
      font-size: 1.5rem;
      font-weight: 600;
      color: #20b5ff;
  }

  .btn-custom {
      background: linear-gradient(45deg, #20b5ff, #1064ff);
      border: none;
      transition: all 0.3s ease;
  }

  .btn-custom:hover {
      transform: translateY(-2px);
      box-shadow: 0 5px 15px rgba(219, 144, 4, 0.356);
      background: linear-gradient(45deg, #ff8828, #fde510);
  }
}